<form  #signupform="ngForm" (ngSubmit)="onSignupSubmit(signupform)" class="align-items-center justify-content-center">
  <h4 class="default-mar">Please enter below Details for Sign up!</h4>
  <div>
    <div class="form-group default-mar">
    <label for="username">User Name</label>
    <input class="form-control" type="text" id="username" name="username" ngModel>
    </div>
  </div>
  <div class="form-group default-mar">
    <label for="password">Password</label>
    <input class ="form-control" type="password" id="password" name="password" ngModel>
  </div>
  <div class="form-group default-mar">
    <label for="confPassword">Confirm Password</label>
    <input class ="form-control" type="password" id="confPassword" name="confPassword" ngModel>
  </div>
  <div class="default-mar text-center">
    <button type="submit" class = "btn btn-outline-primary default-mar">Sign Up</button>
    <button type="button" class = "btn btn-outline-danger default-mar" (click)="onCancel()">Cancel</button>
  </div>
</form>