<div *ngIf="signupStatus==='initial'">    
  <form  #signupform="ngForm" (ngSubmit)="onSignupSubmit(signupform)" class="align-items-center justify-content-center">
    <h4 class="default-mar">Please enter below Details for Sign up!</h4>
    <div>
      <div class="form-group default-mar">
      <label for="email">E-mail</label>
      <input class="form-control" type="text" id="email" name="email" ngModel email required>
      </div>
    </div>
    <div class="form-group default-mar">
      <label for="password">Password</label>
      <input class ="form-control" type="password" id="password" name="password" ngModel required>
    </div>
    <div class="form-group default-mar">
      <label for="confPassword">Confirm Password</label>
      <input class ="form-control" type="password" id="confPassword" name="confPassword" ngModel required>
    </div>
    <div class="default-mar text-center">
      <button type="submit" class = "btn btn-outline-primary default-mar">Sign Up</button>
      <button type="button" class = "btn btn-outline-danger default-mar" (click)="loadLogin()">Cancel</button>
    </div>
  </form>
</div>

<div *ngIf="signupStatus==='success'">
  <div class="align-items-center justify-content-center">
    <h3>Sign up Successfull! Please <a href="#" (click)="loadLogin()">LogIn</a></h3>
  </div>
</div>

<div *ngIf="signupStatus==='failure'">
  <div class="align-items-center justify-content-center">
    <h3>Sign up Failed! Please try again <a href="#" (click)="signupStatus='initial'">Signup</a></h3>
  </div>
</div>
